<!DOCTYPE html>
<html>
<head>
    <title>Pet Match</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Pet Match</h1>
    </header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Perfil</a></li>
                <li><a href="{% url 'find_matches' %}">Encontrar Matches</a></li>
                <li><a href="{% url 'inbox' %}">Caixa de Entrada</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% else %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Cadastre-se</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Pet Match</p>
    </footer>
</body>
</html>
