{% extends 'main/base.html' %}

{% block content %}
    <h2>Bem-vindo ao Pet Match!</h2>
    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
    {% endif %}
    <h2>Pets Disponíveis:</h2>
    {% for pet in pets %}
        <div class="pet-card">
            <h3>{{ pet.name }} ({{ pet.pet_type }})</h3>
            {% if pet.photo %}
                <img src="{{ pet.photo.url }}" alt="{{ pet.name }}">
            {% endif %}
            <p>{{ pet.description }}</p>
            <p><strong>Localização:</strong> {{ pet.location }}</p>
            <p><strong>Interesses:</strong> {{ pet.interests }}</p>
        </div>
    {% empty %}
        <p>Nenhum pet cadastrado.</p>
    {% endfor %}
{% endblock %}
