{% extends 'main/base.html' %}

{% block content %}
    <h2>Bem-vindo ao Pet Match!</h2>
    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
    {% endif %}
    <h2>Pets Disponíveis:</h2>
    {% for pet in pets %}
        <div class="pet-card">
            {% if pet.photo %}
                <a href="{% url 'pet_detail' pet.id %}">
                    <img src="{{ pet.photo.url }}" alt="{{ pet.name }}">
                </a>
            {% endif %}
            <div class="details">
                <h3><a href="{% url 'pet_detail' pet.id %}">{{ pet.name }} ({{ pet.pet_type }})</a></h3>
                <p>{{ pet.description }}</p>
                <p><strong>Localização:</strong> {{ pet.location }}</p>
                <p><strong>Interesses:</strong> {{ pet.interests }}</p>
            </div>
        </div>
    {% empty %}
        <p>Nenhum pet cadastrado.</p>
    {% endfor %}
{% endblock %}
