{% extends 'main/base.html' %}

{% block content %}
    <h2>Matches para Seu Pet</h2>
    {% for match in matches %}
        <div class="pet-card">
            {% if match.photo %}
                <a href="{% url 'pet_detail' match.id %}">
                    <img src="{{ match.photo.url }}" alt="{{ match.name }}">
                </a>
            {% endif %}
            <div class="details">
                <h3><a href="{% url 'pet_detail' match.id %}">{{ match.name }} ({{ match.pet_type }})</a></h3>
                <p>{{ match.description }}</p>
                <p><strong>Localização:</strong> {{ match.location }}</p>
                <p><strong>Interesses:</strong> {{ match.interests }}</p>
            </div>
        </div>
    {% empty %}
        <p>Nenhum match encontrado.</p>
    {% endfor %}
{% endblock %}
