{% extends 'main/base.html' %}

{% block content %}
    <h1>Perfil de {{ user.username }}</h1>
    <p><a href="{% url 'create_pet' %}">Cadastrar Novo Pet</a></p>
    <h2>Seus Pets:</h2>
    {% for pet in pets %}
        <div>
            <h3>{{ pet.name }} ({{ pet.pet_type }})</h3>
            <p>{{ pet.description }}</p>
            {% if pet.photo %}
                <img src="{{ pet.photo.url }}" alt="{{ pet.name }}" width="200">
            {% endif %}
            <p>Localização: {{ pet.location }}</p>
            <p>Interesses: {{ pet.interests }}</p>
        </div>
    {% empty %}
        <p>Você ainda não cadastrou nenhum pet.</p>
    {% endfor %}
{% endblock %}
